.banner {
  text-align: center;
  font-size: 25px;
  padding: 50px;
  font-family: monospace;
  font-weight: 500;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.square {
  box-shadow: 1px 1px 1px 1px white;
  height: 200px;
  background-color: #f26b61;
}

.score {
  display: flex;
  justify-content: space-around;
}
