<div class="banner">
  <div class="dark-stroke"></div>
  <div class="light-stroke">
    <div class="game-title">Tic Tac Toe</div>
    <div class="score">
      <h2> User score: {{@userscore}} </h2>
      <h2> A.I. score: {{@computerscore}} </h2>
      <h2> Draw score: {{@drawscore}} </h2>
    </div>
  </div>
</div>

